@import "tailwindcss";


@theme inline {
    --color-skin: #292d2e;
    --color-skinLight: #2e3133;
    --color-lemon: #ee2a96;
    --color-skinTextMuted: rgba(255, 255, 255, 0.5);
    --color-success: #2aee88;
    --breakpoint-lg: 1010px;
    --breakpoint-md: 750px;
    --breakpoint-sm: 660px;
    --breakpoint-xs: 460px;
}

.underline-link {
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    column-gap: 4px;
    font-size: 14px;
    font-family: "neue_plak", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: linear-gradient(95deg, #17191a 50%, transparent 100%, #242829 20%);
}

body {
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: "Vend Sans", sans-serif; */
    font-family: "Noto Sans", sans-serif;
}